.vscode/tasks.json
feladat/program.exe
feladat/src/program.exe
feladat/assets/icon.bmp
feladat/assets/texture.jpg
feladat/src/app.exe
feladat/assets/wood_box.obj
feladat/assets/wood_box.mtl
feladat/assets/wood_box_texture.png
feladat/assets/help.PNG
assets/help.PNG
assets/texture.jpg
assets/wood_box_texture.png
assets/wood_box.mtl
assets/wood_box.obj
program.exe
assets/desktop.ini
desktop.ini
assets/win.png
assets/help.PNG~
assets/bg.png
